target_id=asus-nuc15crsu7
board_sku=RNUC15CRSU7
bios_version=TODO-fill-from-NUC-setup
boot_mode=UEFI
secure_boot=TODO-enabled
storage_mode=TODO-fill-nvme
wake_suspend=TODO-suspend-wake-settings
changed_options=TODO-list-any-changed-firmware-options
